<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' static:; style-src 'self' static:; object-src 'none'; media-src 'self' static:;">
	<title>Process Manager</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Process Manager</h1>

	<div class="button-grid">
		<button id="btnRefresh">Refresh List</button>
		<button id="btnKillAll">Kill All Processes</button>
	</div>

	<div id="process-list"></div>

	<script type="module" src="process-manager.js"></script>
</body>
</html>
