
h1 {
	margin-bottom: var(--space-30);
	color: var(--color-accent);
	font-size: var(--space-100);
}

.button-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--space-200), 1fr));
	gap: var(--space-20);
	width: 100%;
	max-width: var(--space-800);
}

button {
	padding: var(--space-15) var(--space-20);
	font-size: var(--space-40);
	border: none;
	border-radius: var(--space-12);
	background-color: var(--color-button-start);
	color: var(--color-text-lighter);
	cursor: pointer;
	box-shadow: 0 var(--space-2) var(--space-5) rgba(0,0,0,0.3);
	transition: background-color 0.2s ease-in-out;
}

button:hover {
	background-color: var(--color-button-hover-start);
}


#random-img {
position: absolute;
top: var(--space-20);
right: var(--space-20);
width: var(--space-400);
height: var(--space-400);
border: var(--space-2) solid var(--color-border);
}
