<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' app:; style-src 'self' app:; img-src 'self' app:; object-src 'none'; media-src 'self' app:;">
	<title>Playbox Controls</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Playbox Controls</h1>
	<div class="button-grid">
		<button id="btnNavigate">Redirect Back</button>
		<button id="btnClearPlaybox">Clear Playbox</button>
		<button id="btnPreparePlaybox">Prepare Playbox</button>
		<button id="btnAssemblePlaybox">Assemble Playbox</button>
		<button id="btnClearPlayboxFolder">Clear Playbox Folder</button>
		<button id="btnLaunch">Launch</button>
	</div>

	<img id="random-img" src="app://media/example/random.png" alt="Random">

	<script type="module" src="main.js"></script>
</body>
</html>
